<template name="postsList">
  <!-- Header -->
  {{> blogHeader }}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{#if postPreviewsReady}}
          {{#each posts}}
            {{> postPreview}}
            <hr>
          {{/each}}
        {{else}}
          {{> spinner}}
        {{/if}}

        <!-- Pager -->
        <ul class="pager">
          {{#if showNewerPostsButton}}
            <li class="previous previousButton">
              &larr; Newer Posts
            </li>
          {{/if}}
          {{#if showOlderPostsButton}}
            <li class="next nextButton">
              Older Posts &rarr;
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <hr>

</template>
