<template name="tag">
  <!-- Header -->
  {{> blogHeader }}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading">Posts tagged '{{tag}}:'</h2>
        <hr />
        {{#each posts}}
          {{> postPreview}}
          <hr>
        {{/each}}

        <!-- Pager -->
        <ul class="pager">
          <li class="next">
            <a href="#">Older Posts &rarr;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

</template>
